<footer class="justify-content-center">
    <div class="container-fluid bg-body-tertiary border text-center text-lg-start">
        <!-- vias de contacto -->
        <div class="container d-flex justify-content-center mt-2 mb-2">
            <button type="button" class="btn  btn-lg btn-floating mx-2 bg-body-tertiary iconos">
                <a href="https://www.linkedin.com/in/carobima" class="text-decoration-none" target="_blank">
                    <img src="../../../../assets/icons/linkedinblanco.png" class="img-fluid" alt="LinkedIn">
                </a>
            </button>
            <!-- Button trigger modal Whatsapp-->
            <button type="button" class="btn btn-lg btn-floating mx-2 bg-body-tertiary iconos" data-toggle="modal"
                data-target="#exampleModal">
                <img src="../../../../assets/icons/wasablanco.png" class="img-fluid rounded-start" alt="Whatsapp">

            </button>
            <button type="button" class="btn btn-lg btn-floating mx-2 bg-body-tertiary iconos">
                <a href="{{telegram}}" class="text-decoration-none" target="_blank">
                    <img src="../../../../assets/icons/telegramwhite.png" class="img-fluid rounded-start"
                        alt="Telegram">
                </a>
            </button>


            <!-- Modal Whatsapp-->
            <div class="modal" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <!--<div class="modal-dialog" role="document">-->
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Contáctame por Whatsapp</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="../../../assets/img/Whatsapp.png" class="card-img-top tamanio-30 mb-2"
                                alt="Contactame por Whatsapp">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
            <p class="text-nowrap mb-0 fs-6 fw-light"><small> Carolina Bima &copy;
                    {{anio}}</small>
            </p>
        </div>
    </div>
</footer>