<div class="login mt-4 ms-4 mb-4">
  <div class="row justify-content-md-center mt-4 mb-4 pt-4 pb-4">
    <div class="col-md-3">
      <div *ngIf="isLogged; else loggedOut" class="container-fluid">
        <div class="m-3">
          <div class="h5">Bienvenid@ {{nomUsu}}!</div>
          <button type="button" class="btn btn-success m-3" (click)="onLogout()">Cerrar Sesión</button> 
        </div>
      </div>

      <ng-template #loggedOut>
        <div *ngIf="!isLogged" class="container-fluid">
          <div class="h5 m-5">Iniciar Sesión</div>
          <form name="form" #f="ngForm" novalidate (ngSubmit)="onLogin()">
            <div class="mb-3">
              <div class="form-group">
                <label for="nombreUsuario">Nombre de Usuario: </label>
                <input type="text" class="form-control" name="nombreusuario" [(ngModel)]="form.nombreUsuario"
                  autocomplete="off" required>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-group">
                <label for="password">Contraseña: </label>
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password"
                  autocomplete="off" required>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="!f.valid">Login</button>
                <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">Se produjo un fallo al loguearse: {{ errorMsg
                  }}
                </div>
                <a routerLink="/registro"><button class="btn btn-primary float-right m-3">Crear Cuenta</button></a>
                
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>
