<div class="login mt-4 ms-4 mb-4">
  <div class="row justify-content-md-center mt-4 mb-4 pt-4 pb-4">
    <div class="col-md-6">
      <form>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email:</label>
          <input type="email" type="email" [(ngModel)]="email" name="email" placeholder="Email" class="form-control"
            id="inputEmail" aria-describedby="emailHelp" required="required">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" [(ngModel)]="password" name="password" placeholder="Password" class="form-control"
            id="inputPassword" required="required">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Log in</button>
      </form>
    </div>
  </div>
</div>