<div class="container-fluid m-4">
    <div *ngIf="info.token; else loggedOut">
        <div class="container">
            <p><strong>Tu nombre de usuario: </strong>{{ info.nombreUsuario}}</p>
            <p><strong>Este es el token: </strong>{{ info.token}}</p>
            <p><strong>Tus privilegios: </strong>{{ info.authorities}}</p>
        </div>
    </div>
    <ng-template #loggedOut>
        <div class="container">
            No has iniciado sesión
        </div>
    </ng-template>

    <div class="row justify-content-center">




        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/cat3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gato 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/cat1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gato 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/cat2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gato 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>