<div class="container-fluid text-center m-4">
    <div class="row justify-content-center ">
        <!-- Columna para la api de las peliculas-->
        <div class="col-7 justify-content-center">
            <!-- carousel de upcoming movies -->
            <div class="p-3 mb-3" *ngIf="loading">
                <!-- Muestra el aviso de cargando hasta que trae la info de la api-->
                <img src="./../../assets/img/Spinner-3.gif" class="loading">
                <p>Cargando información...</p>
            </div>
            <!--una vez que tiene la info de la api sigue acá-->
            <ng-container *ngIf="!loading">
                <!--carousel-->
                <div id="carouselExampleAutoplaying" class="carousel slide p-3 mb-3" data-bs-ride="carousel">
                    <div class="carousel-inner"
                        *ngFor="let upcomingMovie of upcomingMovies;  let i = index ; first as isFirst">
                        <div [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item' ">
                            <div class="card h-100 text-center">
                                <div class="card-header">
                                    <p><strong>Título:</strong> {{upcomingMovie.title}}</p>
                                </div>
                                <div *ngIf="(upcomingMovie.poster_path)">
                                    <img src="{{upcomingMovie.poster_path}}" class="card-img-top movieImage mt-2"
                                        alt="{{upcomingMovie.title}}">
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                    <p *ngIf="(upcomingMovie.overview)"><strong>Título original:</strong>
                                        {{upcomingMovie.original_title}}</p>
                                    <p *ngIf="(upcomingMovie.release_date)"><strong>Fecha de lanzamiento:
                                        </strong>{{upcomingMovie.release_date}}</p>
                                    <p *ngIf="(upcomingMovie.overview)"><strong>Descripción:</strong>
                                        {{upcomingMovie.overview}}</p>
                                    <p *ngIf="(upcomingMovie.vote_average); else templateSinCalificacionCar">
                                        <strong>Calificación:</strong> {{upcomingMovie.vote_average}}
                                    </p>
                                    <ng-template #templateSinCalificacionCar>
                                        <div><strong>Calificación:</strong> Aún no calificada</div>
                                    </ng-template>

                                    <p *ngIf="(upcomingMovie.vote_count); else templateSinVotosCar">
                                        <strong>Votos:</strong> {{upcomingMovie.vote_count}}
                                    </p>
                                    <ng-template #templateSinVotosCar>
                                        <div><strong>Votos:</strong> Sin votos</div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- fin carousel-->
            </ng-container>

            <!-- fin del carousel de upcoming movies -->
        

 
</div>
</div>