<div class="container-fluid m-4">

                <!--     Cards      -->
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/cat3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mb-3"><img src="../../assets/img/icons/brightness-high-fill.svg"> El clima en {{this.clima?.region}} <img src="../../assets/img/icons/brightness-high-fill.svg"></h5>
                <p class="card-text">Temperatura: {{this.clima?.tempC}}°C</p>
                <p class="card-text">Sensación térmica: {{this.clima?.feelslikeC}}</p>
                <p class="card-text">Humedad: {{this.clima?.humidity}}</p>
                <p class="card-text">Viento: {{this.clima?.windKph}}km/h</p>
                <p class="card-text">Última actualización: {{this.clima?.lastUpdated}}</p>
                
            </div>
            <div class="card-footer justify-content-md-center">
                <button class="btn btn-primary justify-content-md-center"  data-bs-toggle="modal"
                data-bs-target="#exampleModal">Cambiar ciudad</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/cat1.jpeg" class="card-img-top" alt="...">
            <div class="card-body ">
                <h5 class="card-title mb-3">Gato 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal para ingresar una ciudad -->
<div class="modal" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!--<div class="modal-dialog" role="document">-->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Consultar clima</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="inputCiudad" placeholder="Ciudad" [(ngModel)]="inputCiudad" name="inputCiudad">
                    <label for="inputCiudad">Ciudad</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="inputPais" placeholder="País" [(ngModel)]="inputPais" name="inputPais">
                    <label for="inputPais">Pais</label>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getClima(inputCiudad, inputCiudad)">Consultar</button>
            </div>
        </div>
    </div>