<!-- Info de cultura -->
<div class="card m-4">
    <div class="card-body">
        <h5 class="card-title mb-3 ">Programas del Ministerio de Cultura</h5>
        <select name="selectProgramasCultura" [(ngModel)]="programaSeleccionado">
            <option value="0">Selecciona una opción</option>
            <option *ngFor="let programa of programasCultura; let indice=index" [value]="indice">
                {{programa.nombre}}
            </option>
        </select>
        <!-- Muestra los detalles del programa seleccionado -->
        <div *ngIf="programaSeleccionado !== 0">
            <h5 class="mb-3 mt-5">Detalles del programa seleccionado:</h5>
            <p><b>Nombre:</b> {{programasCultura[programaSeleccionado].nombre}}</p>
            <div [innerHTML]="programasCultura[programaSeleccionado].descripcion"></div>
            <p><b>Link:</b> <a href="{{programasCultura[programaSeleccionado].link}}" target="_blank">
                    {{programasCultura[programaSeleccionado].link}}</a></p>
            <p><b>Depende de: </b>{{programasCultura[programaSeleccionado].depende_de}}</p>
        </div>
    </div>
</div>
